html,
body {
    background-color: peachpuff;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;

}
.container {
    height: 100%;
    align-content: center;
}

.card {
    height: 200px;
    margin-top: 5px;
    margin-bottom: auto;
    width: 400px;
    background-color: #DFCFBE !important;
}

.input-group-prepend span {
    width: 50px;
    background-color: gray;
    color: black;
    border: 0 !important;
    margin-top: 50%;
}